extends layout

block content
  .p-5.mb-4.bg-light.rounded-3
    .container-fluid.py-5
      h1.display-5.fw-bold Sabor Urbano - Gestión Interna
      p.col-md-8.fs-4 Sistema integral de gestión de pedidos, inventario y personal.
      a.btn.btn-primary.btn-lg(href='/tasks') Ver Tareas
