extends ../layout

block content
  .row.justify-content-center
    .col-md-6
      .card.mt-5
        .card-header.text-center
          h3 Registrarse
        .card-body
          if error
            .alert.alert-danger= error
          form(action='/auth/register', method='POST')
            .mb-3
              label.form-label(for='username') Usuario
              input#username.form-control(type='text', name='username', required)
            .mb-3
              label.form-label(for='password') Contraseña
              input#password.form-control(type='password', name='password', required)
            .mb-3
              label.form-label(for='role') Rol
              select#role.form-select(name='role')
                option(value='employee') Empleado
                option(value='admin') Administrador
            button.btn.btn-success.w-100(type='submit') Registrarse
          
          .mt-3.text-center
            a(href='/auth/login') ¿Ya tienes cuenta? Inicia Sesión
