extends ../layout

block content
  .row.justify-content-center.align-items-center(style='min-height: 80vh;')
    .col-md-4
      .card.shadow-lg.border-0.rounded-3
        .card-body.p-5
          .text-center.mb-4
            h2.fw-bold.text-primary Sabor Urbano
            p.text-muted Crear Cuenta
          
          if error
            .alert.alert-danger.rounded-3= error
            
          form(action='/auth/register', method='POST')
            .form-floating.mb-3
              input#username.form-control(type='text', name='username', placeholder='Usuario', required)
              label(for='username') Usuario
            .form-floating.mb-3
              input#password.form-control(type='password', name='password', placeholder='Contraseña', required)
              label(for='password') Contraseña
            .form-floating.mb-4
              select#role.form-select(name='role', aria-label='Seleccionar Rol')
                option(value='employee') Empleado
                option(value='admin') Administrador
              label(for='role') Rol
            button.btn.btn-primary.w-100.btn-lg.rounded-3(type='submit') Registrarse
          
          .mt-4.text-center
            p.mb-0 ¿Ya tienes cuenta? 
              a.text-decoration-none(href='/auth/login') Inicia Sesión
